<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:form="http://www.w3.org/1999/html">
<head th:replace="/layout :: head">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<a href="/create">Create Product</a>
<form th:action="@{/search}" method="get" th:object="${product}">
    <input type="text" th:field="*{name}">
    <button type="submit">Search</button>
</form>
<table th:id="product">
    <tr>
        <th>STT</th>
        <th>ID</th>
        <th>NAME</th>
        <th>PRICE</th>
        <th>DESCRIPTION</th>
        <th>PRODUCER</th>
        <th>EDIT</th>
        <th>DELETE</th>
        <th>VIEW</th>
    </tr>
    <tr th:each="product,loop : ${list}" >
        <td th:text="${loop.count}"></td>
        <td th:text="${product.id}"></td>
        <td th:text="${product.name}"></td>
        <td th:text="${product.price}"></td>
        <td th:text="${product.description}"></td>
        <td th:text="${product.producer}"></td>
        <td><a th:href="@{/edit/__${product.id}__}">Edit</a></td>
        <td><a th:href="@{/delete/__${product.id}__}">Delete</a></td>
        <td><a th:href="@{/findById/__${product.id}__}">View</a></td>

    </tr>
    <tr >
        <div th:if="${list.size() == 0}">
            <td colspan="9" style="text-align: center">Not found Data</td>

        </div>
    </tr>
</table>
    <footer th:replace="/layout :: footer"></footer>
</body>

</html>