<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div>
    <tr>
        <td>ID</td>
        <td th:text="${productId.id}"></td>
    </tr>
</div>
<div>
    <tr>
        <td>Name</td>
        <td th:text="${productId.name}"></td>
    </tr>
</div>
<div>
    <tr>
        <td>Price</td>
        <td th:text="${productId.price}"></td>
    </tr>
</div>
<div>
    <tr>
        <td>Description</td>
        <td th:text="${productId.description}"></td>
    </tr>
</div>
<div>
    <tr>
        <td>Producer</td>
        <td th:text="${productId.producer}"></td>
    </tr>
</div>


</body>
</html>