<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="/layout :: head">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<a href="/list">Back list</a>
<form th:action="@{/edit}" method="post" th:object="${music}">
    <tr>
        <td>ID</td>
        <input type="text" th:field="*{id}" readonly>
    </tr>
    <tr>
        <td>SINGLE</td>
        <input type="text" th:field="*{single}">
    </tr>
    <tr>
        <td>NAME</td>
        <input type="text" th:field="*{name}">
    </tr>
    <tr>
        <td>TYPE MUSIC</td>
        <input type="text" th:field="*{typeMusic}">
    </tr>
    <tr>
        <td>PATH</td>
        <input type="text" th:field="*{path}">
    </tr>
    <tr>
        <button type="submit">UPDATE</button>
    </tr>
</form>
<footer th:replace="/layout :: footer"></footer>
</body>
</html>